rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Reglas para la colección de Destinos (Lectura pública, Escritura solo admins)
    match /destinations/{destinationId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.token.admin == true;
    }

    // Reglas para documentos de Usuario y sus subcolecciones (Favoritos e Itinerarios)
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;

      match /favorites/{favoriteId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }

      match /itineraries/{itineraryId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}
